<h1><%= @shelter.name %></h1>
<div style="display">
  <%= link_to "Pets available at this shelter", "/shelters/#{@shelter.id}/pets" %>
</div>
  <h2>Details</h2>
<h3>Number of pets available: <%= @shelter.pets.count %></h3>
<ul>
  <li>Nonprofit? <%= @shelter.non_profit %></li>
  <li>Rank: <%= @shelter.rank %></li>
</ul>

<div class="edit_shelter">
  <%= link_to "Edit Shelter", "/shelters/#{@shelter.id}/edit" %>
</div>