<% if @shelter %>
  <h1><%= "#{@shelter.name}'s Pets" %></h1>
  <%= link_to "Create Pet", "/shelters/#{@shelter.id}/pets/new" %>
  <%= link_to "Sort by Name", shelter_pets_path(@shelter, sort: true) %>
  <div class="pets_age_filter_input">
    <%= form_with url: shelter_pets_path(@shelter), method: :get, local: true do %>
      <div>
        <%= label_tag :threshold, "Enter minimum age:" %>
        <%= number_field_tag :threshold, params[:threshold], id: "threshold" %>
      </div>
      <div>
        <%= submit_tag "Only return pets older than minimum age", name: nil %>
      </div>
    <% end %>
  </div>

<% else %>
  <h1>All Pets</h1>
<% end %>
<div class="pets_list">
  <% @pets.each do |pet| %>
    <ul>
      <li>Name: <%= pet.name %></li>
      <li>ID: <%=  pet.id  %></li>
      <li>Special Needs? <%= pet.special_needs %></li>
      <li>Age: <%= pet.age %></li>
      <li>Shelter: <%= pet.shelter.name %></li>
      <li><%= link_to "Update Pet: #{pet.name}", "/pets/#{pet.id}/edit" %></li>
    </ul>
  <% end %>
</div>