<% if @shelter %>
  <h1><%= "#{@shelter.name}'s Pets" %></h1>
  <%= link_to "Create Pet", "/shelters/#{@shelter.id}/pets/new" %>
<% else %>
  <h1>All Pets</h1>
<% end %>

<% @pets.each do |pet| %>
  <ul>
    <li>Name: <%= pet.name %></li>
    <li>ID: <%=  pet.id  %></li>
    <li>Special Needs? <%= pet.special_needs %></li>
    <li>Age: <%= pet.age %></li>
    <li>Shelter: <%= pet.shelter.name %></li>
    </ul>
<% end %>