<%= form_with model: @pet, url: "/shelters/#{@shelter.id}/pets", method: :post, class: "new_shelter_pets_form", data: { turbo: false } do |f| %>

  <div>
    <%= f.label :name, "Name:" %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :special_needs, "Special Needs?:" %>
    <%= f.check_box :special_needs %>
  </div>

  <div>
    <%= f.label :age, "Age:" %>
    <%= f.number_field :age %>
  </div>

  <div>
    <%= f.submit "Create Pet" %>
  </div>
<% end %>