<div class="pet_name">
  <h1><%= @pet.name %></h1>
</div>
<ul>
  <li>ID: <%=  @pet.id  %></li>
  <li>Special Needs? <%=  @pet.special_needs  %></li>
  <li>Age: <%=  @pet.age  %></li>
  <li>Shelter: <%=  @pet.shelter.name  %></li>
</ul>
<div class="edit_pet">
  <%= link_to "Update Pet", "/pets/#{@pet.id}/edit" %>
</div>